@import url('https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700;800;900&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
 
body{
    background: #081b29;
    color:#ededed;

}

.header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background:transparent;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color:#ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    font-size: 18px;
    color:#ededed;
    text-decoration: none;
    font-weight: 600;
    margin-left: 30px;

}
.navbar a:hover
{
    color:rgb(0, 139, 137);
}
section{
    min-height: 100vh;
    padding:10rem 9% 2rem;
}
.home{
   
    display:flex;
    align-items:center;
    padding:0 10%;

}
.one img{
    width:500px;
    height: 500px; 
    justify-content:left;
    text-align: left;
    margin-bottom: 30px;
    
    
}
.one img:hover
{
    border: 2px solid white;
    border-radius: 4px;
}
.home-content{
    max-width: 550px;
}
.home-content h1 {
    font-size: 55px;
    font-weight: 700;
    line-height: 1.2;
    color: red;
}
.home-content p {
    font-size: 25px;
    margin:20px 0 40px;
}
.aboutme{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background: #081b29;
    padding-bottom: 3rem;
}
.heading{
    font-size: 4rem;
    margin-bottom: 2rem;
    color:brown;
    text-align: center;

}
.about-img{
    position: relative;
    width:20rem;
    height: 20rem;;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img img{
    margin-bottom: 50px;
    width: 60%;
    border-radius: 50%;
    border:10px solid red;

}
.aboutme-content{
    text-align: center;
}
.aboutme-content h3{
    font-size: 2.5rem;
    color: yellow;
}
.about-content p{
    font-size: 2rem;
    
}
.education{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;

}
.education .education-row{
    display: flex;
    flex-wrap:1.5 wrap;
    gap:5rem;
}
.education-row .education-column{
    flex: 1 1 40rem;
}
.education-column .title{
    font-size: 2.5rem;
    margin:0 0 1.5rem 1rem;
}

.education-column .education-box{
    border-left: .2rem solid #00abf0;
}
.education-box .education-content{
    position: relative;
    padding-left: 2rem;
}
.education-box .education-content::before{
    content:'';
    position: absolute;
    left:-1.1rem;
    top:0;
    width: 2rem;
    height: 2rem;
    background: #00abf0;
    border-radius: 50%;
}
.education-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid #00abf0;
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}
.education-content .content::before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:0%;
    height: 100%;
    background:hwb(293 0% 6%);
    z-index: -1;
    transition: .5s;
}
.education-content .content:hover::before{
    width:100%;

}
.education-content .content .year{
    font-size: 1.5rem;
    color:#00abf0;
    padding-bottom: .5rem;
}
.education-content .content .year{
    padding-right: .5rem;
}
#skills{
    height: 100vh;
}
.allskill
{
    margin: 0;
    padding: 0;
}

#skills h1{
    margin-top: 20px;
    color:white;
    font-size: 50px;
    height: 20vh;
    font-family: montserrat;
}
.skillcontent1{
    display: flex;
    margin-bottom: 30px;
}
.skillset{
    font-size: 30px;
    font-family: montserrat;
    color: rgb(255, 37, 73);
    font-weight: bold;
}
.progress{
    color: white;
    border: 4px solid yellow;
    border-radius: 5px;
    padding: 10px;
    font-family: montserrat;
    font-size: 30px;
    display: inline-block;
    margin-left: 25px;
    position: relative;
    top: -16px;
}
.progress:hover{
    color:rgb(255, 37, 73);
    background-color: white;
    transition: 0.3s;
    transform: scale(1.1);
    font-weight: 600;
    box-shadow: 2px 2px 3px rgb(68, 0, 151), -2px -2px 5px rgb(68, 0, 151) ;
}
.skillcontent2{
    display: flex;
    margin-bottom: 30px;
}
.skilldiv{
    display: flex;
}
.skillcontent3{
    display: flex;
}
.resumetitle
{
    color: white;
    font-size: 30px;
    margin: 100px;

}
.resume{
    height: 100vh;
}
.viewresume a
{
    border:3px solid white;
    font-size: 20px;
    color: white;
    background: green;
    width: 180px;
    height: 80px;
    align-content: center;
    justify-content: center;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    text-decoration: none;
}
.viewresume a:hover
{
    transform: scale(1.1);
    transition: 0.3s;
    color: pink;
    background:rgb(255, 0, 43);
    text-decoration: none;
}


.contact{
    min-height: auto;
    padding-bottom: 7rem;

}
.contacttitle
{
    color: white;
    font-size: 25px;
}
.displayinput1
{
    color: white;
    font-size: 20px;

}
.contactform
{
    height: 60vh;
}
.contacttitle{
    height: 10vh;
}
.userinput1{
    width:550px;
    padding:12px 20px;
    box-sizing: border-box;
    border: 3px solid grey;
    outline: none;
    transition: 0.3s;
    background: rgba(200, 161, 161, 0.285);
    border-radius: 15px;
    color: white;
    font-size: 25px;
    font-family: montserrat;
    margin-left: 5px;
}
.userinput1:hover{
    transition: 0.3s;
    transform:scale3d(1.1, 1.1, 1.1)
}
.contact .button .btn{
    cursor: pointer;
    display: inline block;
    background: #00abf0;
    width: 30%;
    height: 60px;
    border-radius: 20px;
    z-index: -1;
    transition: .5s;
    color: bisque;
}




.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background:#190829;
}
.footer-text p{
    font-size: 1.6rem;
}
.footer-iconTop a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: #00abf0;
    border: .2rem solid #00abf0;
    border-radius: .6rem;
}
@media (max-width:520px){
    html{
        font-size:50%;
    }
    .home-content h1{
        display: flex;
        flex-direction: column;
    }

    .home-sc{
        width:160px;
    }
    .home-sc a{
        width:38px;
        height:38px;
    }
}
@media (max-width: 460px){
    .home-content h1{
        font-size: 5.3rem;
    }

    .education{
        padding:10rem 4% 5rem 5%;
    }
    .contact form .input-box .input-field{
        width: 100%;
    }
}